@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|Jomhuria&display=swap&subset=korean');

html {
    min-width: 1000px;
}

body {
    height: auto;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 200;
    line-height: 25px;
}

.content-title {
   width: 100%;
    margin-bottom: 6%;
    font-size: 40px;
    line-height: 140%;
    float: left;
}
.type {
    line-height: 150%;
    font-size: 20px;
    float: right;
    font-weight: 100;
    color: grey;
}

.content-article-detail {
    font-weight: 400;
}

.content-article {
    margin: 0 80px;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
    
}


img {
    width: 100%;
}

about {
    font-weight: 200;
    font-size: 20px;
    float: right;
    line-height: 0px;
    margin: 25px 0px;
}


@keyframes fadeOut {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



.face {
    font-family: 'Jomhuria';
    font-size: 120pt;
    line-height: 80px;
    padding: 60px 80px 0px 80px;
    margin-top: 20px;
}

.face2 {
    font-family: 'Jomhuria';
    font-size: 120pt;
    line-height: 80px;
    padding: 60px 0px 0px 80px;
    margin-top: 20px;
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}


.project-1 {
    float: left;
    color: #999999;
    width: 49.3%;
    font-size: 13px;
}

.project-2 {
    float: right;
    color: #999999;
    width: 49.3%;
    font-size: 13px;
}

#raw {
    padding: 0px 80px;
    width: auto;
    overflow: hidden;
    height: auto;
    margin-bottom: 0.2%;

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.project-1 img:hover {
    opacity: 0.5;
}

.project-2 img:hover {
    opacity: 0.5;
}

#raw-2 {
    padding: 0px 80px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0.2%;

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

#raw-3 {
    padding: 0px 80px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 5%;

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.project-1 img {
    margin-bottom: -1%;
    border-radius: 5px;
}

.project-2 img {
    margin-bottom: -1%;
    border-radius: 5px;
}


header {
    height: 80px;
    padding: 0 80px;
    font-family: 'Gothic A1', sans-serif;
}

.split-line-gray {
    height: 2px;
    border-bottom: 1px solid #ffffff;
    margin: 10px 80px;
}

footer {
    height: 100px;
    font-size: 25px;
    line-height: 1.5;
    position: relative;
}

.account {
    padding: 30px 80px;
    font-size: 15px;
    text-align: right;
}

ul {
    list-style: none;
    bottom: 50px;
    position: fixed;
    padding-left: 80px;
}

ul li {
    font-size: 20px;
    padding-top: 20px;
    min-width: 150px;
}

ul li a{
    color: #999999;
}

.ul-summary a {
    padding-left: 15px;
    color: black;
    font-size: 17px;
}

.ul-summary li {
    margin-top: -10px;

}

.list {
    padding: 0px 80px;
    width: 90%;
    margin-bottom: 50px;
    margin-left: -10px;
    float: left;
}

.list1 {
    font-size: 13pt;
    line-height: 27px;
    float: left;
    width: 200px;
    margin: 20px 20px;
}

.history {
    height: 350px;
    padding-bottom: 60px;
}

.tool {
    padding: 0px 80px;
}

.tool-img {
    max-width: 100%;
    width: 75px;
    overflow: hidden;
    float: left;
    padding: 5px 10px;
    padding-top: 130px;
    margin-left: -10px;
}

.detail-view {
    float: left;
    margin-top: 50px;
    margin-left: 290px;
    margin-right: 80px;
}

.item-img {
    width: 100%;
    float: left;
    margin: 0 0px 20px 0;
    color: #999999;
    font-size: 10pt;
}

.item-img2 {
    width: 32%;
    height: auto;
    float: left;
    margin-right: 1%;
    color: #999999;
    font-size: 10pt;
}

.item-img3 {
     width: 48%;
    height: auto;
    float: left;
    margin-right: 1%;
    color: #999999;
    font-size: 10pt;
}

.item-view {
    width: 100%;
    float: left;
    margin: 0 0px 40px 0;
    min-width: 600px;
}


.drawing {
    margin: 0 80px;
}

.drawing img {
    width: 400px;
}

.year{
    font-weight: 300;
}

.word{
    max-width:80%;
}
